# Lodowisko
Obliczymy współczynnik tarcia po jeździe na lodzie oraz masę stopionego przez nas lodu. <br>
Poniżej przedstawione zostały obliczenia dla jednego z naszych łyżwiarzy (Maciek).

## Obliczanie niewiadomej
Ta funkcja oblicza niewiadomą w równaniach typu x = wiadoma * niewiadoma <br>
Dzięki temu będziemy w stanie obliczyć współczynnik tarcia oraz masę stopionego lodu.

In [4]:
import math


def oblicz_niewiadoma(wynik1, wynik2, przyblizenie=0.00001, poczatkowa_var=0.000001):
    """
    Oblicz równanie w postaci x = wiadoma * niewiadoma

    :param wynik1: Znana wartość
    :param wynik2: Wartość z niewiadomą
    :param przyblizenie: Przybliżenie jakie zostanie zastosowane, w celu określenia czy wartośc została obliczona
    :param poczatkowa_var: Początkowa wartośc od jakiej pętla rozpoczyna dodawanie
    :return: Szacowana wartość niewiadomej z
    """

    u = poczatkowa_var
    while not math.isclose(wynik1, wynik2 * u, rel_tol=przyblizenie):
        try:
            u += 0.000001
            if u > wynik1 / 100:
                u = None
                print("Obliczenia nierealne. Sprawdź przybliżenie.")
                break
        except KeyboardInterrupt:
            u = None
            print("Przerwano obliczenia")
            break

    return u

### Współczynnik tarcia
**równanie1** - wynik z równania μmgs <br>
**praca** - wynik z równania mv^2 / 2

In [5]:
rownanie1 = 19200
praca = 1030.27
wspolczynnik_tarcia = oblicz_niewiadoma(praca, rownanie1)
print("Współczynnik tarcia (μ)", wspolczynnik_tarcia)
print("Błąd obliczeń", wspolczynnik_tarcia * rownanie1 - praca)

Współczynnik tarcia (μ) 0.05366000000003301
Błąd obliczeń 0.0020000006338705134

### Masa stopionego lodu
**Ct** - ciepło topnienia lodu <br>
**m** - masa stopionego lodu

In [6]:
Ct = 334000
m = oblicz_niewiadoma(praca, Ct, przyblizenie=0.001)
print("Masa", m)
print("Błąd obliczeń", math.fabs(m * Ct - praca))

Masa 0.0030820000000000847
Błąd obliczeń 0.8819999999716401

## Obliczenia dla pozostałych osób

In [7]:
import pandas as pd
import numpy as np

In [39]:
index = ['Glos',
 'Przemek',
 'Kaczmarzyk',
 'Penkala',
 'Cieślar',
 'Masłowski',
 'Miodoński',
 'Miler',
 'Moskała']

data = {
    't1': pd.Series([13.98, 7.62, 11.87, 13.43, 12.0, 7.45, 6.64, 8.39, 9.39], index=index),
    't2': pd.Series([13.0, 7.13, 12.2, 13.2, 11.26, 8.05, 6.19, 8.4, 9.65], index=index),
    't3': pd.Series([14.01, 7.63, 12.43, 13.3, 11.55, 8.37, 5.76, 8.8, 10.07], index=index),
    't4': pd.Series([13.69, 7.44, 12.47, 13.7, 12.1, 7.77, 6.13, 8.89, 9.5], index=index),
    's': pd.Series([28, 17, 30, 30, 25, 20, 12, 20, 25], index=index),  # droga
    'm_provided': pd.Series([100.0, 82.5, 96.0, 82.5, 75.0, 66.0, 69.0, 66.0, 76.8], index=index)
    # podana masa przez łyżwiarza
}

In [40]:
df = pd.DataFrame(data)

In [41]:
times = df.loc[:, ['t1', 't2', 't3', 't4']]  # Show only time related dataframes
times

               t1     t2     t3     t4
Glos        13.98  13.00  14.01  13.69
Przemek      7.62   7.13   7.63   7.44
Kaczmarzyk  11.87  12.20  12.43  12.47
Penkala     13.43  13.20  13.30  13.70
Cieślar     12.00  11.26  11.55  12.10
Masłowski    7.45   8.05   8.37   7.77
Miodoński    6.64   6.19   5.76   6.13
Miler        8.39   8.40   8.80   8.89
Moskała      9.39   9.65  10.07   9.50

### Obliczanie średniego czasu jazdy

In [42]:
time_avg = times.mean(axis=1)

In [43]:
time_avg

Glos          13.6700
Przemek        7.4550
Kaczmarzyk    12.2425
Penkala       13.4075
Cieślar       11.7275
Masłowski      7.9100
Miodoński      6.1800
Miler          8.6200
Moskała        9.6525
dtype: float64

In [44]:
df['t_avg'] = time_avg

In [45]:
df.loc[:, ['t1', 't2', 't3', 't4', 't_avg']]

               t1     t2     t3     t4    t_avg
Glos        13.98  13.00  14.01  13.69  13.6700
Przemek      7.62   7.13   7.63   7.44   7.4550
Kaczmarzyk  11.87  12.20  12.43  12.47  12.2425
Penkala     13.43  13.20  13.30  13.70  13.4075
Cieślar     12.00  11.26  11.55  12.10  11.7275
Masłowski    7.45   8.05   8.37   7.77   7.9100
Miodoński    6.64   6.19   5.76   6.13   6.1800
Miler        8.39   8.40   8.80   8.89   8.6200
Moskała      9.39   9.65  10.07   9.50   9.6525

### Obliczenia
#### Prędkość

In [46]:
def oblicz_predkosc(droga, czas):
    a = droga / (0.5 * pow(czas, 2))
    return a * czas

In [47]:
df['v'] = df.apply(lambda x: oblicz_predkosc(x['s'], x['t_avg']), axis=1)

In [48]:
df.loc[:, 'v']

Glos          4.096562
Przemek       4.560698
Kaczmarzyk    4.900960
Penkala       4.475107
Cieślar       4.263483
Masłowski     5.056890
Miodoński     3.883495
Miler         4.640371
Moskała       5.180005
Name: v, dtype: float64

#### Współczynnik tarcia
μ * mgs (J) <br>
Znajdujemy μ

In [49]:
PRZYSPIESZENIE_ZIEMSKIE = 10  # m/s^2
def oblicz_tarcie(masa, droga, predkosc):
    rownanie1 = masa * PRZYSPIESZENIE_ZIEMSKIE * droga
    praca = masa * pow(predkosc, 2) / 2
    return oblicz_niewiadoma(praca, rownanie1)

In [50]:
df['μ'] = df.apply(lambda x: oblicz_tarcie(masa=x['m_provided'], droga=x['s'], predkosc=x['v']), axis=1)

Przerwano obliczenia
Obliczenia nierealne. Sprawdź przybliżenie.
Obliczenia nierealne. Sprawdź przybliżenie.

In [51]:
df['μ']

Glos               NaN
Przemek       0.061176
Kaczmarzyk    0.040032
Penkala            NaN
Cieślar            NaN
Masłowski     0.063930
Miodoński     0.062840
Miler         0.053833
Moskała       0.053665
Name: μ, dtype: float64

#### Masa stopionego lodu
Ct * m <br>
Znajdujemy m, podana w gramach

In [52]:
CIEPLO_TOPNIENIA_LODU = 334000  # J/kg
def oblicz_mase_lodu(masa, predkosc):
    praca = masa * pow(predkosc, 2) / 2
    return oblicz_niewiadoma(praca, CIEPLO_TOPNIENIA_LODU, przyblizenie=0.001) * 1000

In [53]:
df['m_lodu'] = df.apply(lambda x: oblicz_mase_lodu(x['m_provided'], x['v']), axis=1)

In [54]:
df['m_lodu']

Glos          2.510
Przemek       2.567
Kaczmarzyk    3.449
Penkala       2.471
Cieślar       2.039
Masłowski     2.525
Miodoński     1.557
Miler         2.126
Moskała       3.082
Name: m_lodu, dtype: float64

## Wyniki końcowe
Wyjaśnienie skrótów <br>

| Skrót  | Wyjasnienie |
| ------ | ------------------- |
|t1...t4 | zmierzone czasy jazdy |
|t_avg   | średni czas jazdy |
|s       | przebyta droga |
|m_provided | masa uczestnika (podana) |
|v       | obliczona prędkość |
|μ       | współczynnik tarcia |
|m_lodu  | masa stopionego lodu |

In [55]:
df

,t1,t2,t3,t4,s,m_provided,t_avg,v,μ,m_lodu
Glos,13.98,13.00,14.01,13.69,28,100.0,13.6700,4.096562,NaN,2.510
Przemek,7.62,7.13,7.63,7.44,17,82.5,7.4550,4.560698,0.061176,2.567
Kaczmarzyk,11.87,12.20,12.43,12.47,30,96.0,12.2425,4.900960,0.040032,3.449
Penkala,13.43,13.20,13.30,13.70,30,82.5,13.4075,4.475107,NaN,2.471
Cieślar,12.00,11.26,11.55,12.10,25,75.0,11.7275,4.263483,NaN,2.039
Masłowski,7.45,8.05,8.37,7.77,20,66.0,7.9100,5.056890,0.063930,2.525
Miodoński,6.64,6.19,5.76,6.13,12,69.0,6.1800,3.883495,0.062840,1.557
Miler,8.39,8.40,8.80,8.89,20,66.0,8.6200,4.640371,0.053833,2.126
Moskała,9.39,9.65,10.07,9.50,25,76.8,9.6525,5.180005,0.053665,3.082